<div class="footer-wrapper">
    <footer>
        <div class="topfooter footer-inner-wrapper">
            <div>
                <a class="call" aria-label="Zavolejte mi" href="tel:{{ site.phone }}">
                    <h5 id="kontakt">Zavolejte mi</h5>
                    <span>{{ site.phone_short }}</span>
                </a>
                <ul class="contact">
                    <li><img src="/assets/ico/location.svg"><span><a href="https://mapy.cz/s/nodupefevu">{{
                                site.location }}</a></span></li>
                    <li><img src="/assets/ico/email.svg"><span><a
                                href="mailto: Markyt11@seznam.cz">Markyt11@seznam.cz</a></span></li>
                </ul>
            </div>
            <div id="firmycz-button">
                <a href="https://www.firmy.cz/detail/13182379-kadernictvi-martina-kytyrova-opocno.html#pridat-hodnoceni"
                    target="_blank" rel="noopener"><img width="249px"
                        src="https://www.firmy.cz/img/widgets/firmy-ohodnotte-nas-svetle.svg"
                        alt="Kadeřnictví Martina Kytýrová na Firmy.cz" /></a>
            </div>
        </div>
        <div class="tail-footer footer-inner-wrapper">
            <small>Martina Kytýrová, IČ: {{ site.ico }}. Icons from <a href="//www.icons8.com">icons8</a></small>
        </div>
    </footer>
</div>