<nav>
    <div class="content-wrapper">
        <div class="nav-grid">
            <a href="#" class="home-link"><!--<img class="nav-logo" src="/assets/ico/logo.svg">--></a>
            <a href="#sluzby">Služby</a>
            <a href="#kontakt">Kontakt</a>
            <a class="hero-link" aria-label="Zavolejte mi" href="tel:{{ site.phone }}"><img src="/assets/ico/call-w.svg"><span>{{ site.phone_short }}</span></a>
        </div>
    </div>
</nav>
<a class="fab" id="fab-booking" aria-label="Zavolejte mi" href="tel:{{ site.phone }}"><img src="/assets/ico/call-w.svg"><span>{{ site.phone_short }}</span></a>