@use "var";

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    --s: 500px;
    --c: ,#0000 39.75%,#FBFBFB 40.25% 93%,#0000 93.5%;
    --_s: calc(1.5*var(--s))/calc(4*var(--s)) calc(3*var(--s));
    background: radial-gradient(calc(1.5*var(--s)) at 37.5% 0% var(--c)) calc(-.5*var(--s)) var(--_s),
        radial-gradient(calc(1.5*var(--s)) at 37.5% 100% var(--c)) calc(1.5*var(--s)) var(--_s),
        radial-gradient(25% calc(50%/3), rgba(0,0,0,0) 98%, #f8f6f6) 0 0/calc(2*var(--s)) calc(3*var(--s)),
        repeating-conic-gradient(#f8f6f6 0 25%, #FBFBFB 0 50%) 0 0/calc(4*var(--s)) calc(6*var(--s));
}


body {
    color: var.$fg-color;
    font-family: var.$body-font;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var.$heading-font;
    color: var.$dark;
}

a {
    font-family: var.$heading-font;
    text-decoration: none;
    color: inherit;
}


a:hover {
    filter: saturate(0);
}

.content-wrapper {
    overflow: hidden;
    position: relative;
    margin: auto;
    flex-grow: 1;
    max-width: MIN(1080px, 100vw);
    box-sizing: border-box;

    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;

    @media only screen and (max-width: 800px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.text-wrapper {
    position: relative;
    margin: auto;
    flex-grow: 1;
    max-width: MIN(800px, 100vw);
    box-sizing: border-box;
}

nav,
footer,
main,
section {
    display: flex;
}

main {
    margin-bottom: 4em;
}

iframe {
    max-width: 100%;
}

p a {
    font-style: italic;
}

p a:hover {
    text-decoration: wavy underline 2px;
    text-underline-offset: 0.3em;
}


p a+a {
    margin-left: 1em;
}

.text-wrapper p {
    max-width: 65ch;
}

h1 em, h2 em, h3 em {
    font-weight: 800;
}